{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{##}
{#<body>#}
{% extends 'college_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="/edit_staff_action">
<table width="200" border="1" class="table table-dark table-hover">
  <tr>
    <td>NAME</td>
    <td><input type="text" name="textfield" value="{{ staff_obj.name }}" required pattern="[A-Z a-z.]{3,25}"/></td>
  </tr>
  <tr>
    <td>AGE</td>
    <td><input type="text" name="textfield9"  value="{{ staff_obj.age }}" required pattern="[0-9]{2}"/></td>
  </tr>

  <tr>
    <td>PLACE</td>
    <td><input type="text" name="textfield2"  value="{{ staff_obj.place }}" required pattern="[A-Z a-z.]{3,25}"/></td>
  </tr>
  <tr>
    <td>POST</td>
    <td><input type="text" name="textfield3"  value="{{ staff_obj.post }}" required pattern="[A-Z a-z.]{3,25}"/></td>
  </tr>
 <tr>
    <td>PIN</td>
    <td><input type="text" name="textfield5"  value="{{ staff_obj.pin }}" required pattern="[0-9]{6}"/></td>
  </tr>
  <tr>
    <td>DEPARTMENT</td>
    <td><select name="select">
        {% for i in department_obj %}
            <option>{{ i.department }}</option>
        {% endfor %}

    </select></td>
  </tr>
  <tr>
    <td>PHONE</td>
    <td><input type="text" name="textfield4"  value="{{ staff_obj.phone }}" required pattern="[6789][0-9]{9}"/></td>
  </tr>
  <tr>
    <td>E MAIL </td>
    <td><input type="text" name="textfield6"  value="{{ staff_obj.email }}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/></td>
  </tr>
  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="Submit" value="Update" />
    </div></td>
    </tr>
</table>
</form>

{#</body>#}
{#</html>#}
{% endblock %}