{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'admin_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="{% url 'add_dep_2' %}#about">
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <td>SL.NO</td>
      <td>DEPARTMENT</td>

      <td>&nbsp;</td>
    </tr>
      {% for i in department_obj %}
    <tr>
      <td>&nbsp;{{ i.id }}</td>
      <td>&nbsp;{{ i.department }}</td>
      <td>&nbsp;
	  <a href="{% url 'delete_department' department_id=i.id %}#about">DELETE</a></td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="4"><div align="center">
        <input type="submit" name="Submit" value="ADD" />
      </div></td>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}